__pycache__/dbBuilder.cpython-37.pyc
__pycache__/wordsorter.cpython-37.pyc
.vscode/settings.json
__pycache__/dbBuilder.cpython-39.pyc
__pycache__/wordsorter.cpython-39.pyc
AM-519a-4to.xml
DG-4at7-Pamph.xml
DG-4at7-Streng.xml
kgsam243.xml
