[packages]
pandas = "*"
streamlit = "*"
neo4j = "*"
streamlit-aggrid = "*"
networkx = "*"
pyvis = "*"
lxml = "*"
bs4 = "*"
numpy = "*"
st-annotated-text = "*"
matplotlib = "*"
openpyxl = "*"
spacy = "*"
gensim = "*"
streamlit-image-select = "*"
node2vec = "*"
markdown = "*"
scikit-learn = "*"
pipenv = "*"
rapidfuzz = "*"
la-core-web-lg = {file = "https://huggingface.co/latincy/la_core_web_lg/resolve/main/la_core_web_lg-any-py3-none-any.whl"}
scipy = "<1.13"

[dev-packages]
autopep8 = "*"
coverage = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
types-markdown = "*"
types-python-dateutil = "*"

[scripts]
setup = "python src/setup.py"
stylo = "python src/analysis.py"
run = "python -m streamlit run src/pamphalazyer.py"
