[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
pandas = "*"
streamlit = "*"
neo4j = "*"
streamlit-aggrid = "*"
networkx = "*"
pyvis = "*"
lxml = "*"
bs4 = "*"
numpy = "*"
scipy = "*"
st-annotated-text = "*"
matplotlib = "*" 
openpyxl = "*"
spacy = "3.5.0"
gensim = "*" 
streamlit-image-select = "*"
node2vec = "*"
markdown = "*"
scikit-learn = "*"
rapidfuzz = "*"
la-core-web-lg = {file = "https://huggingface.co/latincy/la_core_web_lg/resolve/main/la_core_web_lg-any-py3-none-any.whl"}


[dev-packages]
autopep8 = "*"
coverage = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
types-markdown = "*"
types-python-dateutil = "*"

[scripts]
setup = "python src/setup.py"
stylo = "python src/analysis.py"
run = "python -m streamlit run src/pamphilus.py"
